.topbar {
  border-bottom: 1px solid #e9ecef;
  background-color: #fff;
}

.formLink {
  color: #1a1b1e;
  text-decoration: none;
}

.formLink:hover {
  color: #12b886;
}

.filterbar {
  border-bottom: 1px solid #e9ecef;
  background-color: #fff;
}

.filterItem {
  cursor: pointer;
}

.tableWrap {
  padding: 16px;
  overflow-x: auto;
}

.table {
  background-color: #fff;
  min-width: 100%;
  width: max-content;
}

.thead {
  background-color: #f8f9fa;
}

.th {
  white-space: nowrap;
  min-width: 180px;
}
