.topbar {
  border-bottom: 1px solid var(--mantine-color-default-border);
  background-color: var(--mantine-color-body);
}

.formLink {
  color: var(--mantine-color-text);
  text-decoration: none;
}

.formLink:hover {
  color: var(--mantine-color-emerald-6);
}

.filterbar {
  border-bottom: 1px solid var(--mantine-color-default-border);
  background-color: var(--mantine-color-body);
}

.filterItem {
  cursor: pointer;
}

.tableWrap {
  padding: 16px;
  overflow-x: auto;
}

.table {
  background-color: var(--mantine-color-body);
  min-width: 100%;
  width: max-content;
}

.thead {
  background-color: var(--mantine-color-default);
}

.th {
  white-space: nowrap;
  min-width: 180px;
}
